
body{
    background-color: rgb(242, 252, 252);
}

.forme {
    box-sizing: border-box;
    margin-bottom: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 4px;
    height: fit-content;
}

input,button{
    width: 100%;
}


form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    width: 70%;
}